.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-form-field {
    display: block;
}

.login-form {
    width: 400px;
    margin: auto;
}

.action-button {
    margin-right: 10px;
}

.action-button:last-child {
    margin-right: 0;
}
.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}
/* styles.css ou login.component.css */
/* styles.css ou login.component.css */
.password-icon {
    color: #3f51b5; /* Couleur bleue */
}

.small-icon {
    font-size: 8px; /* Taille de l'icône en pixels */
}
