<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="saveStudent()">
        <mat-card class="login-form">
            <mat-card-header>
                <mat-card-title>Add Student</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <mat-label>FirstName</mat-label>
                    <input matInput formControlName="firstName" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                <mat-label>Lastname</mat-label>
                <input matInput formControlName="lastName" required>
               </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Code</mat-label>
                    <input matInput formControlName="code" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>ProgramId</mat-label>
                    <input matInput formControlName="programId" required>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary" class="action-button" type="submit" [disabled]="formGroup.invalid">Save</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>